.home {
  background-image: url('/gym.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.home h2 {
  font-size: 1.875rem; /* Equivalente a text-3xl */
  font-weight: bold;
  margin-bottom: 1rem;
}
