.panel {
    background-color: #1a202c; 
    color: white;
    padding: 1.5rem; 
    border-radius: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 40rem;
    text-align: left;
  }
  
  .panel p {
    font-size: 1.125rem;
  }
  
  .panel strong {
    font-weight: 600;
  }